:root{
    /* --blue: #003049;
    --red: #D62828;
    --orange: #F77F00;
    --yellow: #FCBF49;
    --blond: #EAE2B7; */

    --white: #ffff;
    --red: #FEC5BB;
    --pink1: #FCD5CE;
    --pink2: #FAE1DD;
    --pink3: #F8EDEB;
    --blond1: #E8E8E4;
    --blond2: #D8E2DC;
    --blond3: #ECE4DB;
    --orange1: #FEC89A;
    --orange2: #FFD7BA;
    --orange3: #FFE5D9;
    --orange5: #ff9780;
    --orange6: #ff5733;

}